<p>
<div><a style="background-color: lightsalmon; font-family: Lato; font-size: 24px"
        href="{{ path('app_person_show', {'id': person.id}) }}">{{ person.firstName|upper }} {{ person.lastName|upper }}</a>
    <br>
    <span style="background-color: #00ee00; font-family: Lato; font-size: 24px">{{ person.description|capitalize }}</span><br>

    <form method="post" style="display:inline" action="{{ path('app_person_modify', {'id': person.id}) }}">
        <button type="submit" name="edit" data-id="p{{ person.id }}"
                style="background-color: darkturquoise; font-family: Lato; font-size: 15px">Edytuj
        </button>
    </form>

    <form method="post" style="display:inline" action="{{ path('app_person_delete', {'id': person.id}) }}">
        <button type="submit" name="delete" data-id="p{{ person.id }}"
                style="background-color: red; font-family: Lato; font-size: 15px">Usuń
        </button>
    </form>

</div></p>